/*/solution*/csim/
/*/solution*/syn/
/*/solution*/sim/
/*/solution*/impl/
/*/solution*/.autopilot/
.vivado_hls_log_all.xml
!*.aps

/aurora_axis/build
/aurora_axis/ip
/aurora_axis/vivado

/axi_pcie_intc/ip
/axi_pcie_intc/vivado

/rtds_axis/ip
/rtds_axis/work
/rtds_axis/netlist/RTDS_InterfaceModule.ngc

/hdl_multiply/work

/pcie_msi_requester/work/

/hls_dft/*.dat
