/*/solution*/csim/
/*/solution*/syn/
/*/solution*/sim/
/*/solution*/impl/
/*/solution*/.autopilot/
.vivado_hls_log_all.xml
!*.aps

/aurora_axis/build
/aurora_axis/ips
/aurora_axis/vivado

/axi_pcie_intc/ips
/axi_pcie_intc/vivado

/ibufds_gte2/vivado

/pcie_msi_requester/vivado

/rtds_axis/build
/rtds_axis/ips
/rtds_axis/vivado
/rtds_axis/netlist/RTDS_InterfaceModule.ngc

/hdl_multiply/work

/pcie_msi_requester/work/

/hls_dft/*.dat

